<div class='card m-2'>
  <h3 class='card-title'><%= flat.name %></h3>
  <h6 class='card-subtitle'><%= flat.address %></h5>
  <div class="d-flex align-items-center align-bottom">
    <i class="fa-solid fa-person mr-3"></i>
    <p class="mb-0 mr"><%= flat.number_of_guests %> </p>
    <i class="fa-solid fa-euro-sign"></i>
    <p class="mb-0"> <%= flat.price_per_night %></p>
  </div>
</div>
